# 🎬 Selection des Blockbusters avec Dataset **"tmdb_full"**

##  Objectif
Identifier les films considérés comme **blockbusters** à partir du dataset `tmdb_full`, selon des critères définis.
##  Critères de sélection

- **Revenu** (`revenue`) > seuil (à préciser)
- **Budget** élevé
- **Popularité** (selon score TMDB)
- **Note moyenne** éventuellement

👉 Ces critères permettent de filtrer les films ayant eu un **impact commercial important**.

## 🔍 Étapes de traitement
### **1️⃣. Chargement du dataset `tmdb_full`**

In [ ]:
pip install gdown

Requirement already satisfied: gdown in c:\users\vika_\anaconda3\lib\site-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in c:\users\vika_\anaconda3\lib\site-packages (from gdown) (4.12.2)
Requirement already satisfied: filelock in c:\users\vika_\anaconda3\lib\site-packages (from gdown) (3.9.0)
Requirement already satisfied: requests[socks] in c:\users\vika_\anaconda3\lib\site-packages (from gdown) (2.31.0)
Requirement already satisfied: tqdm in c:\users\vika_\anaconda3\lib\site-packages (from gdown) (4.65.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\vika_\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vika_\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vika_\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\vika_\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vika_\anaconda3\lib\site-packages (from requests[socks]->gdown) (2023.7.22)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\vika_\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\vika_\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Importer des bibliothèques nécessaires
import gdown
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np

# Chargement du fichier `tmdb_full.csv`:

# 1. Définition de l'URL de téléchargement directe à partir du lien Google Drive :
url = 'https://drive.google.com/uc?id=1VB5_gl1fnyBDzcIOXZ5vUSbCY68VZN1v'

# 2. Nom du fichier de sortie à créer localement :
output = 'tmdb_full.csv'

# 3. Téléchargement automatique du fichier avec la bibliothèque gdown :
gdown.download(url, output, quiet=False)

# 4. Chargement du fichier CSV dans un DataFrame Pandas :
df_tmdb_full = pd.read_csv(output)

Downloading...
From (original): https://drive.google.com/uc?id=1VB5_gl1fnyBDzcIOXZ5vUSbCY68VZN1v
From (redirected): https://drive.google.com/uc?id=1VB5_gl1fnyBDzcIOXZ5vUSbCY68VZN1v&confirm=t&uuid=809b4a7e-59b1-48ff-96a5-28443634fc4a
To: C:\Users\vika_\tmdb_full.csv
100%|██████████| 157M/157M [00:16<00:00, 9.68MB/s]
C:\Users\vika_\AppData\Local\Temp\ipykernel_3924\3767449934.py:13: DtypeWarning:

Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.

In [ ]:
# Vérification des premières lignes avec `.head()` et des dimensions avec `.shape`:
df_tmdb_full.shape

(309572, 25)

In [ ]:
df_tmdb_full.head(5)

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
0,False,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,0,['Comedy'],NaN,3924,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,...,70,['en'],Released,The favorite comic strip of millions at last o...,Blondie,False,7.214,7,['Columbia Pictures'],['US']
1,False,NaN,0,['Adventure'],NaN,6124,tt0011436,de,Der Mann ohne Namen,NaN,...,420,[],Released,NaN,"Peter Voss, Thief of Millions",False,0.000,0,[],[]
2,False,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,0,"['Drama', 'Romance']",NaN,8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,...,110,"['it', 'ja', 'pl', 'fr', 'de']",Released,The Intimate Secrets of Young Lovers,Love at Twenty,False,6.700,41,"['Ulysse Productions', 'Unitec Films', 'Cinese...","['', 'NZ', 'IT', 'JP', 'DE', 'PL', '']"
3,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,0,"['Drama', 'Comedy', 'Crime']",NaN,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,...,73,['fi'],Released,NaN,Ariel,False,7.046,248,['Villealfa Filmproductions'],['FI']
4,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,0,"['Drama', 'Comedy', 'Romance']",NaN,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",...,76,['en'],Released,NaN,Shadows in Paradise,False,7.182,269,['Villealfa Filmproductions'],['FI']

### **2️⃣ . Exploration rapide rapide des variables clés**

In [ ]:
# Aperçu général du DataFrame `df_tmdb_full`:
df_tmdb_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309572 entries, 0 to 309571
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   adult                         309572 non-null  bool
 1   backdrop_path                 151760 non-null  object
 2   budget                        309572 non-null  int64
 3   genres                        309572 non-null  object
 4   homepage                      44262 non-null   object
 5   id                            309572 non-null  int64
 6   imdb_id                       309572 non-null  object
 7   original_language             309572 non-null  object
 8   original_title                309572 non-null  object
 9   overview                      282512 non-null  object
 10  popularity                    309572 non-null  float64
 11  poster_path                   264159 non-null  object
 12  production_countries          309572 non-null  object
 13  release_date                  301339 non-null  object
 14  revenue                       309572 non-null  int64
 15  runtime                       309572 non-null  int64
 16  spoken_languages              309572 non-null  object
 17  status                        309572 non-null  object
 18  tagline                       74573 non-null   object
 19  title                         309572 non-null  object
 20  video                         309572 non-null  bool
 21  vote_average                  309572 non-null  float64
 22  vote_count                    309572 non-null  int64
 23  production_companies_name     309572 non-null  object
 24  production_companies_country  164438 non-null  object
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 54.9+ MB

In [ ]:
# Analyse des valeurs manquantes :
df_tmdb_full.isna().sum()

adult                                0
backdrop_path                   157812
budget                               0
genres                               0
homepage                        265310
id                                   0
imdb_id                              0
original_language                    0
original_title                       0
overview                         27060
popularity                           0
poster_path                      45413
production_countries                 0
release_date                      8233
revenue                              0
runtime                              0
spoken_languages                     0
status                               0
tagline                         234999
title                                0
video                                0
vote_average                         0
vote_count                           0
production_companies_name            0
production_companies_country    145134
dtype: int64

In [ ]:
# Statistiques descriptives sur les colonnes numériques:
df_tmdb_full.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,3.095720e+05,3.095720e+05,309572.000000,3.095720e+05,309572.000000,309572.000000,309572.000000
mean,8.781720e+05,4.086449e+05,2.719860,2.247857e+06,70.438702,4.105471,65.364616
std,8.275506e+06,3.219135e+05,21.206599,3.023098e+07,95.136916,3.000611,588.071450
min,0.000000e+00,2.000000e+00,0.600000,0.000000e+00,0.000000,0.000000,0.000000
25%,0.000000e+00,1.311845e+05,0.600000,0.000000e+00,22.000000,0.000000,0.000000
50%,0.000000e+00,3.349365e+05,1.083000,0.000000e+00,85.000000,5.000000,2.000000
75%,0.000000e+00,6.178362e+05,1.994000,0.000000e+00,98.000000,6.400000,9.000000
max,5.793304e+08,1.122427e+06,5089.969000,2.923706e+09,43200.000000,10.000000,33630.000000

**- Analyse et nettoyage des colonnes**

In [ ]:
df_tmdb_full["budget"].value_counts(normalize=True) * 100

budget
0           91.903661
1000000      0.212228
2000000      0.172819
500000       0.161513
5000000      0.156345
              ...
1049552      0.000323
41900000     0.000323
646955       0.000323
38272500     0.000323
16077        0.000323
Name: proportion, Length: 3597, dtype: float64

In [ ]:
df_tmdb_full["revenue"].value_counts(normalize=True) * 100

revenue
0           95.120037
1000000      0.021320
2000000      0.019059
10000000     0.015828
500000       0.015505
              ...
2260712      0.000323
354628       0.000323
17193231     0.000323
9709451      0.000323
8430000      0.000323
Name: proportion, Length: 12865, dtype: float64

In [ ]:
# Nettoyer chaque valeur de la colonne "genre":
def nettoyer_genres(genres):
      genre_str1 = genres.strip("[]'")
      genre_str2 = genre_str1.replace("'", "")  # Supprimer les apostrophes
      return genre_str2

df_tmdb_full.loc[:, 'genres'] = df_tmdb_full['genres'].apply(nettoyer_genres)

In [ ]:
# Nettoyer chaque valeur de la colonne "production_companies_name":
def nettoyer_production_companies_name(production_companies_name):
      production_companies_name_str1 = production_companies_name.strip("[]'")                      # Supprimer les crochets
      production_companies_name_str2 = production_companies_name_str1.replace("'", "")             # Supprimer les apostrophes
      return production_companies_name_str2

df_tmdb_full.loc[:, 'production_companies_name'] = df_tmdb_full['production_companies_name'].apply(nettoyer_production_companies_name)

In [ ]:
df_tmdb_full = df_tmdb_full[df_tmdb_full['adult'] !=True]

**- Détection de valeurs aberrantes ou manquantes**

In [ ]:
# Remplacer les valeurs \N par 'NaN' (pas de valeur)  => df['Colonne'] = df['Colonne'].replace('\\N',np.nan)
# PS: Il faut importer Np en amont
df_tmdb_full = df_tmdb_full.replace('\\N',np.nan)

In [ ]:
# Afficher toutes les lignes du DataFrame df_tmdb_full qui contiennent au moins une valeur manquante (NaN).
df_tmdb_full[df_tmdb_full.isna().any(axis=1)]

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
0,False,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,0,Comedy,NaN,3924,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,...,70,['en'],Released,The favorite comic strip of millions at last o...,Blondie,False,7.214,7,Columbia Pictures,['US']
1,False,NaN,0,Adventure,NaN,6124,tt0011436,de,Der Mann ohne Namen,NaN,...,420,[],Released,NaN,"Peter Voss, Thief of Millions",False,0.000,0,,[]
2,False,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,0,"Drama, Romance",NaN,8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,...,110,"['it', 'ja', 'pl', 'fr', 'de']",Released,The Intimate Secrets of Young Lovers,Love at Twenty,False,6.700,41,"Ulysse Productions, Unitec Films, Cinesecolo, ...","['', 'NZ', 'IT', 'JP', 'DE', 'PL', '']"
3,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,0,"Drama, Comedy, Crime",NaN,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,...,73,['fi'],Released,NaN,Ariel,False,7.046,248,Villealfa Filmproductions,['FI']
4,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,0,"Drama, Comedy, Romance",NaN,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",...,76,['en'],Released,NaN,Shadows in Paradise,False,7.182,269,Villealfa Filmproductions,['FI']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309567,False,/oGW8uF821i8VowzpmECbxk7QXNs.jpg,0,"Crime, Drama",NaN,957102,tt24962414,zh,重裝戰警,The film tells the story of the heavy-duty pol...,...,71,['zh'],Released,NaN,Hit Team,False,0.000,0,,[]
309568,False,/oQ429AcD85ttxvOxAaYpETnAsW0.jpg,0,"Action, War",NaN,918692,tt17352384,ru,Гранит,Mozambique requests from Russia is being helpe...,...,100,['ru'],Released,NaN,Granite,False,5.000,3,,[]
309569,False,/fJhruCWu4sx3TKhFigEVntiVL93.jpg,0,"Documentary, History",https://selectedfilms.com/marcelino-el-mejor-p...,818616,tt8223104,es,"Marcelino, el mejor payaso del mundo","An account of the life, work and many triumphs...",...,83,['es'],Released,NaN,"Marceline, the Best Clown in the World",False,6.000,2,Estación Cinema,['ES']
309570,False,NaN,0,,NaN,763622,tt14213656,en,Cheating Hitler: Surviving the Holocaust,"Three Canadian Holocaust survivors, with unans...",...,88,"['en', 'he', 'yi']",Released,"Three Canadian Holocaust survivors, with unans...",Cheating Hitler: Surviving the Holocaust,False,0.000,0,,[]
309571,False,NaN,0,Science Fiction,NaN,753091,tt27688034,ko,더 문,A man on Earth discovers a man in outer space....,...,0,['ko'],Post Production,NaN,The Moon,False,0.000,0,"Blaad Studio, CJ Entertainment, CJ ENM, CJ ENM...","['KR', 'KR', 'KR', '']"

In [ ]:
df_tmdb_full.head(5)

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
0,False,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,0,Comedy,NaN,3924,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,...,70,['en'],Released,The favorite comic strip of millions at last o...,Blondie,False,7.214,7,Columbia Pictures,['US']
1,False,NaN,0,Adventure,NaN,6124,tt0011436,de,Der Mann ohne Namen,NaN,...,420,[],Released,NaN,"Peter Voss, Thief of Millions",False,0.000,0,,[]
2,False,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,0,"Drama, Romance",NaN,8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,...,110,"['it', 'ja', 'pl', 'fr', 'de']",Released,The Intimate Secrets of Young Lovers,Love at Twenty,False,6.700,41,"Ulysse Productions, Unitec Films, Cinesecolo, ...","['', 'NZ', 'IT', 'JP', 'DE', 'PL', '']"
3,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,0,"Drama, Comedy, Crime",NaN,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,...,73,['fi'],Released,NaN,Ariel,False,7.046,248,Villealfa Filmproductions,['FI']
4,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,0,"Drama, Comedy, Romance",NaN,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",...,76,['en'],Released,NaN,Shadows in Paradise,False,7.182,269,Villealfa Filmproductions,['FI']

## 3️⃣ Définition des critères de blockbuster

**!!! Pour info, La notation des films :Échelle de 0 à 10 (SensCritique, IMDb)**  
0 à 2 : Très mauvais (rejet massif, échec critique et public)  
2 à 4 : Mauvais (mal reçu par la critique et le public)  
4 à 6 : Moyen (réception mitigée, apprécié par certains, critiqué par d'autres)  
6 à 8 : Bon (généralement bien reçu, apprécié par la majorité)  
8 à 10 : Excellent (acclamation générale, grand succès critique et public)  

### Création de règles pour définir un **blockbuster**:
 - budget > 30 mln
 - recette > 30 mln
 - bonne notation: "vote_average" > 7,5
 - on selectionne les films ayant au moins 4000 "vote_count"

### Application des filtres:

In [ ]:
# Filtres sur le Revenue et/ou Budget:
df_blockbusters = df_tmdb_full[(df_tmdb_full['budget'] >= 30000000)|(df_tmdb_full['revenue'] >= 30000000)].sort_values(by='vote_average', ascending=False)
df_blockbusters.shape

(4532, 25)

In [ ]:
# avec des filtre sur les votes:
df_blockbusters1 = df_blockbusters[(df_blockbusters['vote_average'] >= 7.5) & (df_blockbusters['vote_count'] >= 3000)].sort_values(by='revenue', ascending=False)
df_blockbusters1.shape

(327, 25)

In [ ]:
# on affiche toutes les colonnes:
df_blockbusters1.columns

Index(['adult', 'backdrop_path', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'production_companies_name',
       'production_companies_country'],
      dtype='object')

In [ ]:
df_blockbusters1['vote_count'].describe()

count      327.000000
mean     10376.238532
std       6164.085115
min       3049.000000
25%       5481.000000
50%       8841.000000
75%      14022.000000
max      33630.000000
Name: vote_count, dtype: float64

##4️⃣ Création du DataFrame final

In [ ]:
# on Supprime les colonnes : adult, original_language,spoken_languages,
columns_to_drop = ["adult", "original_language", "spoken_languages"]
df_blockbusters1.drop(columns = columns_to_drop,axis=1,inplace=True)
df_blockbusters1

,backdrop_path,budget,genres,homepage,id,imdb_id,original_title,overview,popularity,poster_path,...,revenue,runtime,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
11478,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,"Action, Adventure, Fantasy, Science Fiction",https://www.avatar.com/movies/avatar,19995,tt0499549,Avatar,"In the 22nd century, a paraplegic Marine is di...",188.103,/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,...,2923706026,162,Released,Enter the world of Pandora.,Avatar,False,7.600,29045,"Dune Entertainment, Lightstorm Entertainment, ...","['US', 'US', 'US', 'GB']"
275494,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,356000000,"Adventure, Science Fiction, Action",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,Avengers: Endgame,After the devastating events of Avengers: Infi...,101.337,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,...,2794731755,181,Released,Avenge the fallen.,Avengers: Endgame,False,8.267,23091,Marvel Studios,NaN
199421,/8rpDcsfLJypbO6vREc0547VKqEv.jpg,460000000,"Science Fiction, Adventure, Action",https://www.avatar.com/movies/avatar-the-way-o...,76600,tt1630029,Avatar: The Way of Water,Set more than a decade after the events of the...,2857.869,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,...,2319331580,192,Released,Return to Pandora.,Avatar: The Way of Water,False,7.707,7846,"20th Century Studios, Lightstorm Entertainment",NaN
473,/rzdPqYx7Um4FUZeD8wpXqjAUcEm.jpg,200000000,"Drama, Romance",https://www.paramountmovies.com/movies/titanic,597,tt0120338,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,108.782,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,...,2264162353,194,Released,Nothing on Earth could come between them.,Titanic,False,7.892,22840,"Paramount, 20th Century Fox, Lightstorm Entert...","['US', 'US', 'US']"
275495,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,300000000,"Adventure, Action, Science Fiction",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,Avengers: Infinity War,As the Avengers and their allies have continue...,205.036,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,...,2046239637,149,Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.263,26812,Marvel Studios,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,/kZLiern9uHe0m2Ri5mUUrPu4dbG.jpg,30000000,"Drama, Crime",NaN,311,tt0087843,Once Upon a Time in America,A former Prohibition-era Jewish gangster retur...,29.434,/i0enkzsL5dPeneWnjl1fCWm6L7k.jpg,...,5472914,229,Released,"Crime, passion and lust for power.",Once Upon a Time in America,False,8.445,4646,"The Ladd Company, Embassy International Pictur...","['US', 'US', 'IT', 'US', 'US']"
170345,/vbba0jXLjghW4nNzte51d8XWSvq.jpg,47000000,"Science Fiction, Drama, Romance, Fantasy",NaN,31011,tt0485947,Mr. Nobody,Nemo Nobody leads an ordinary existence with h...,21.194,/qNkIONc4Rgmzo23ph7qWp9QfVnW.jpg,...,2331721,141,Released,"Nothing is real, everything is possible.",Mr. Nobody,False,7.832,5407,"Pan Européenne Production, Virtual Films, Wild...",NaN
130485,/r2rnIplX2gPqt3nkdqqEWVzhTZ8.jpg,159000000,"Crime, Drama, History",https://www.theirishman-movie.com,398978,tt1302006,The Irishman,"Pennsylvania, 1956. Frank Sheeran, a war veter...",25.102,/mbm8k3GFhXS0ROd9AD1gqYbIFbM.jpg,...,968853,209,Released,His story changed history,The Irishman,False,7.623,5999,"Tribeca Productions, Sikelia Productions, Wink...","['US', 'US', 'US']"
48921,/7ZO9yoEU2fAHKhmJWfAc2QIPWJg.jpg,65000000,"Thriller, Action, Science Fiction",https://www.20thcenturystudios.com/movies/prey,766507,tt11866324,Prey,"When danger threatens her camp, the fierce and...",267.138,/ujr5pztc1oitbe7ViMUOilFaJ7s.jpg,...,0,100,Released,They hunt to live. It lives to hunt.,Prey,False,7.794,5444,20th Century Studios,['US']
45366,/pcDc2WJAYGJTTvRSEIpRZwM3Ola.jpg,70000000,"Action, Adventure, Fantasy, Science Fiction",https://www.hbomax.com/zacksnydersjusticeleague,791373,tt12361974,Zack Snyder's Justice League,Determined to ensure Superman's ultimate sacri...,118.937,/tnAuB8q5vv7Ax9UAEje5Xi4BXik.jpg,...,0,242,Released,NaN,Zack Snyder's Justice League,False,8.200,8818,"Warner Bros. Pictures, The Stone Quarry, Atlas...","['US', 'US', 'US', 'US', 'US', 'US']"

In [ ]:
# on vérifie:
df_blockbusters1.shape

(327, 22)

In [ ]:
df_blockbusters1.isna().sum()

backdrop_path                    0
budget                           0
genres                           0
homepage                        88
id                               0
imdb_id                          0
original_title                   0
overview                         0
popularity                       0
poster_path                      0
production_countries             0
release_date                     0
revenue                          0
runtime                          0
status                           0
tagline                         16
title                            0
video                            0
vote_average                     0
vote_count                       0
production_companies_name        0
production_companies_country    85
dtype: int64

In [ ]:
df_blockbusters1.sort_values(by='revenue', ascending=False)

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
11478,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,"Action, Adventure, Fantasy, Science Fiction",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,162,"['en', 'es']",Released,Enter the world of Pandora.,Avatar,False,7.600,29045,"Dune Entertainment, Lightstorm Entertainment, ...","['US', 'US', 'US', 'GB']"
275494,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,356000000,"Adventure, Science Fiction, Action",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,...,181,"['en', 'ja', 'xh']",Released,Avenge the fallen.,Avengers: Endgame,False,8.267,23091,Marvel Studios,NaN
199421,False,/8rpDcsfLJypbO6vREc0547VKqEv.jpg,460000000,"Science Fiction, Adventure, Action",https://www.avatar.com/movies/avatar-the-way-o...,76600,tt1630029,en,Avatar: The Way of Water,Set more than a decade after the events of the...,...,192,['en'],Released,Return to Pandora.,Avatar: The Way of Water,False,7.707,7846,"20th Century Studios, Lightstorm Entertainment",NaN
473,False,/rzdPqYx7Um4FUZeD8wpXqjAUcEm.jpg,200000000,"Drama, Romance",https://www.paramountmovies.com/movies/titanic,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,...,194,"['en', 'fr', 'de', 'sv', 'it', 'ru']",Released,Nothing on Earth could come between them.,Titanic,False,7.892,22840,"Paramount, 20th Century Fox, Lightstorm Entert...","['US', 'US', 'US']"
224624,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"Adventure, Action, Science Fiction, Fantasy",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,...,136,['en'],Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.300,17979,"Lucasfilm Ltd., Bad Robot",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14211,False,/rPSJAElGxOTko1zK6uIlYnTMFxN.jpg,160000000,Crime,https://www.amazon.com/Gangs-Lagos-Tobi-Bakre/...,1104040,tt19704612,en,Gangs of Lagos,A group of friends who each have to navigate t...,...,124,['en'],Released,NaN,Gangs of Lagos,False,6.059,35,,[]
227261,False,/v1vkK6RXcix0ZsCWy4ZodAsUsKn.jpg,40000000,"Action, Adventure",NaN,149085,tt2296404,cn,太極２ 英雄崛起,Chinese steampunk martial arts blockbuster abo...,...,100,['zh'],Released,The Throwdown Continues,Tai Chi Hero,False,6.065,77,"Huayi Brothers Pictures, Diversion Pictures",NaN
6575,False,/vzjgieFzT8ySkMdxdu3kIf4caZS.jpg,65000000,Thriller,NaN,11983,tt0228750,en,Proof of Life,Alice hires a professional negotiator to obtai...,...,135,['en'],Released,NaN,Proof of Life,False,6.074,684,"Castle Rock Entertainment, Warner Bros. Pictur...","['US', 'US', 'US', '']"
12536,False,/lh0uM88KjXsmRzWXUGAGWJ0AOJR.jpg,30000000,"Family, Comedy, Fantasy",NaN,21972,tt0308506,en,Like Mike,"Calvin and his friends, who all live in an orp...",...,99,['en'],Released,"Think like Mike, Achieve like Mike, Be Like Mike.",Like Mike,False,6.089,438,"20th Century Fox, Heller Highwater Productions...","['US', '', 'US', '', '']"
305441,False,NaN,40000000,"Fantasy, Animation",NaN,205598,tt1713496,en,Magik,Lewis Clark is a brilliant author who stumbles...,...,0,[],Planned,NaN,Magik,False,0.000,0,Black Marsh Entertainment,NaN